@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background-color: #F4F6F9;
  color: #152238;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #F4F6F9;
}
::-webkit-scrollbar-thumb {
  background: #E1E6ED;
  border-radius: 4px;
}
